.button {
	display: inline-block;
	height: auto;
	border: none;
	border-radius: 6px;
	font-weight: 500;
	font-size: 1.6rem;
	text-decoration: none;
	text-transform: capitalize;
	cursor: pointer;
	overflow: hidden;
}

.button__select {
    color: var(--black-2);
	font-family: Poppins;
	padding: 0.8rem 2rem;
	padding: 1rem;
	border: none;
	background-color: var(--bg-3);
	width: 150px;
	cursor: pointer;
}

.button--primary {
	background-color: var(--primaryPurple);
	color: var(--white);
	padding: 0.8rem 2rem;
}
.button--secondary {
	background-color: var(--bg-3);
	color: var(--black-1);
	padding: 0.8rem 2rem;
}
.button--image {
	background-color: transparent;
	margin-left: 45px;
	margin-right: 45px;
	/* border-color: red; */
	/* border-style: dotted;  */
	/* padding: 0.8rem 1rem; */
}
.button--image__dark {
	background-color:transparent;
	/* border-color: red; */
	/* border-style: dotted;  */
	/* padding: 0.8rem 1rem; */
}

.button--primary__dark {
	background-color: darkblue;
	color: var(--white);
	padding: 0.8rem 2rem;
}

.button--secondary__dark {
	background-color: #48495d;
	color: var(--white);
	padding: 0.8rem 2rem;
}

.button__select__dark {
	background-color: #48495d;
	color: var(--white);
	padding: 0.8rem 2rem;
}
