.title {
	display: inline-block;
	width: 100%;
	font-family: 'Poppins';
	font-size: 4rem;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	padding-top: 8px;
	opacity: 0.9;
}

.heading_wrapper {
	display: flex;
	background-color: white;
	color: #626262;
	height: 12vh;
	margin-bottom: 1.5rem;
}

.heading_wrapper_dark {
	background-color: #1b1b1b;
	color: white;
}