.title {
	display: inline-block;
	width: 100%;
	font-family: 'Poppins';
	font-size: 4rem;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	/* margin: 0 auto; */
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 8px;
	opacity: 0.9;
}

.heading_wrapper {
	display: flex;
	background-color: white;
	color: #626262;
	height: 12vh;
	margin-bottom: 1.5rem;
	justify-content: space-between;
}

.heading_wrapper_dark {
	background-color: var(--dark-primary);
	color: white;
}

.toggle_wrapper {
	margin-right: 5rem;
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
	flex-direction: row;
  }

.toggleText {
	font-size: 1.4rem;
	flex-grow: 1;
	font-weight: 500;
	white-space: nowrap;
	margin-right: 1.5rem;
}

.authButtons {
	margin-left: 3rem;
	flex-grow: 1;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 0;
	white-space: nowrap;
	width: 24rem;
	/* padding-left: 9.6rem;
	padding-right: 9.6rem; */
}